#    |\__/,|   (`\
#  _.|o o  |_   ) )
#-(((---(((--------     Larcrist

#Dont go, pls
sources/*.out
sources/*.a
sources/*.o

libraries/*.a
libraries/*.o

#VSCODE extensions
.vscode/
obj/*

#Ignore the Norma

